
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/.suo
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide-shm
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide-wal
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/.suo
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide-wal
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide-shm
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide-wal
Workshop2-TravelExperts/Workshop2-TravelExperts/obj/Debug/Workshop2-TravelExperts.csprojAssemblyReference.cache
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/.suo
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide-shm
Workshop2-TravelExperts/.vs/Workshop2-TravelExperts/v16/Server/sqlite3/storage.ide-wal
